- alquilers.each do |alquiler|
  .alquiler
    .row  
      .span3
        = link_to alquiler.name, alquiler_path(alquiler)      
      .span3
        = alquiler.address
      .span3
        = alquiler.phone
      .pull-right
        = link_to "Editar", edit_alquiler_path(alquiler)
        = link_to "Borrar", alquiler_path(alquiler), method: :delete        
    %br
    %br
    .row  
      .span3    
        .item
          = alquiler.deliver_date.strftime("%e %B")        
        .item
          - unless alquiler.chairs.blank?
            = alquiler.chairs
            Sillas
        .item
          - unless alquiler.small_chairs.blank?
            = alquiler.small_chairs        
            Sillitas
        .item
          - unless alquiler.chaircloth.blank?
            = alquiler.chaircloth
            Forros
      .span3
        .item
          - unless alquiler.tables.blank?
            = alquiler.tables
            Mesas
        .item
          - unless alquiler.big_tables.blank?
            = alquiler.big_tables
            Mezones
        .item
          - unless alquiler.tablecloth.blank?
            = alquiler.tablecloth
            Manteles S
        .item
          - unless alquiler.big_tablecloth.blank?
            = alquiler.big_tablecloth       
            Mantales G
      .span3
        .item
          - unless alquiler.sb_dark_blue.blank?
            = alquiler.sb_dark_blue
            Manteles Azul
        .item
          - unless alquiler.sb_gold.blank?
            = alquiler.sb_gold
            Manteles Dorados
        .item
          - unless alquiler.sb_yellow.blank?
            = alquiler.sb_yellow
            Manteles Amarillos
        .item
          - unless alquiler.sb_green.blank?
            = alquiler.sb_green
            Manteles Verdes
      .span3
        .item
          - unless alquiler.sb_pink.blank?
            = alquiler.sb_pink  
            Manteles Fucsia
        .item
          - unless alquiler.abono.blank?
            Abono: 
            = alquiler.abono   
        .item
          - unless alquiler.total.blank?
            Total: 
            = alquiler.total
        .item          
          Resta: 
          = alquiler.total - alquiler.abono unless alquiler.total.blank? || alquiler.abono.blank?
        
