%table.table.table-bordered
  %thead
    %tr
      %th
        Nombre
      %th
        Cedula
      %th
        Direccion
      %th
        Sillas
      %th
        Mesitas
      %th
        Mesones
      %th
        Manteles Sencillos
      %th
        Manteles Grandes
      %th
        Fecha de Entrega
      %th
        Abono
      %th
        Total
      %th
        Resta
  - alquilers.each do |alquiler|
    %tr
      %td
        = link_to alquiler.name, alquiler_path(alquiler)
      %td
        = alquiler.identifier
      %td
        = alquiler.address
      %td
        = alquiler.chairs
      %td
        = alquiler.tables
      %td
        = alquiler.big_tables
      %td
        = alquiler.tablecloth
      %td
        = alquiler.big_tablecloth
      %td
        = alquiler.deliver_date.strftime("%e %B")
      %td
        = alquiler.abono
      %td
        = alquiler.total
      %td
        = alquiler.total - alquiler.abono unless alquiler.total.blank? || alquiler.abono.blank?
      %td
        = link_to "Editar", edit_alquiler_path(alquiler)
      %td
        = link_to "Borrar", alquiler_path(alquiler), method: :delete