%table.table.table-bordered
  %thead
    %tr
      %th
        Nombre      
      %th
        Sillas
      %th
        Sillitas
      %th
        Forros
      %th
        Mesas
      %th
        Meson
      %th
        Mant Senc
      %th
        Mant Gr
      %th
        Mant Fus
      %th
        Mant Ver
      %th
        Mant Ama
      %th
        Fecha
      %th
        Abono
      %th
        Total
      %th
        Resta
  - alquilers.each do |alquiler|
    %tr
      %td
        = link_to alquiler.name, alquiler_path(alquiler)      
      %td
        = alquiler.chairs
      %td
        = alquiler.small_chairs
      %td
        = alquiler.chaircloth
      %td
        = alquiler.tables
      %td
        = alquiler.big_tables
      %td
        = alquiler.tablecloth
      %td
        = alquiler.big_tablecloth      
      %td
        = alquiler.sb_pink      
      %td
        = alquiler.sb_green
      %td
        = alquiler.sb_yellow      
      %td
        = alquiler.deliver_date.strftime("%e %B")
      %td
        = alquiler.abono
      %td
        = alquiler.total
      %td
        = alquiler.total - alquiler.abono unless alquiler.total.blank? || alquiler.abono.blank?
      %td
        = link_to "Editar", edit_alquiler_path(alquiler)
      %td
        = link_to "Borrar", alquiler_path(alquiler), method: :delete