- Alquiler::PRICES.each do |key,value|   
  = hidden_field_tag "#{key}", value
.span4
  = f.label "Nombre:"
  = f.text_field :name
  = f.label "Cedula:"
  = f.text_field :identifier
  = f.label "Direccion:"
  = f.text_field :address
  = f.label "Telefono:"
  = f.text_field :phone
.span4
  = f.label "Fecha:"
  = f.text_field :deliver_date, :class => "datepicker" 
  = f.label "Sillas:"
  = f.text_field :chairs, :class => "pricing", "data-pricing" => "chairs"
  = f.label "Mesitas:"
  = f.text_field :tables, :class => "pricing", "data-pricing" => "tables"
  = f.label "Mezones:"
  = f.text_field :big_tables, :class => "pricing", "data-pricing" => "big_tables"
.span4
  = f.label "Manteles sencillos:"
  = f.text_field :tablecloth, :class => "pricing", "data-pricing" => "tablecloth"
  = f.label "Manteles Grandes:"
  = f.text_field :big_tablecloth, :class => "pricing", "data-pricing" => "big_tablecloth"
  = f.label "Abono:"
  = f.text_field :abono
  = f.label "Total:"
  = f.text_field :total  



:javascript
  $(function(){

    $(".pricing").change(function(){
      
      var chairs_ammount = $("#alquiler_chairs").val();
      var tables_ammount = $("#alquiler_tables").attr("value");      
      var big_tables_ammount = $("#alquiler_big_tables").val();
      var big_tablecloth_ammount = $("#alquiler_big_tablecloth").val();
      var tablecloth_ammount = $("#alquiler_tablecloth").val();

      var chairs_price = parseInt($("#chairs").val());            
      var tables_price = parseInt($("#tables").val());            
      var big_tables_price = parseInt($("#big_tables").val());            
      var tablecloth_price = parseInt($("#tablecloth").val());            
      var big_tablecloth_price = parseInt($("#big_tablecloth").val());                

      if(chairs_ammount == ""){
        chairs_ammount = 0;
      }else{
        parseInt($("#alquiler_chairs").val());
      }

      if(tables_ammount == ""){
        tables_ammount = 0;
      }else{
        parseInt($("#alquiler_tables").attr("value"));      
      }

      if(big_tables_ammount == ""){
        big_tables_ammount = 0;
      }else{
        parseInt($("#alquiler_big_tables").val());
      }

      if(tablecloth_ammount == ""){
        tablecloth_ammount = 0;
      }else{
        parseInt($("#alquiler_tablecloth").val());
      }

      if(big_tablecloth_ammount == ""){
        big_tablecloth_ammount = 0;
      }else{
        parseInt($("#alquiler_big_tablecloth").val());
      }

      var new_total = (chairs_ammount * chairs_price) + (tables_ammount * tables_price) + (big_tables_ammount * big_tables_price) + (tablecloth_ammount * tablecloth_price) + (big_tablecloth_ammount * big_tablecloth_price);
      
      $("#alquiler_total").val(new_total)
    });


    $(".datepicker").datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: "yy-mm-dd",
      onSelect: function(dateText,inst){

        $.ajax({
          url: "/get_availables",
          type: "GET",          
          data: {'selected_date' : dateText}
        })

      }
    });


  });
